button {
    display: inline-block;
    padding: 0.5rem 1rem;
    background-color: white;
    color: rgb(50, 50, 50);
    font-weight: 600;
    border-radius: 0.6rem;
    border: 1px solid rgb(200, 200, 200);
    cursor: pointer;
    font-size: 0.95rem;
}

button:hover {
    background-color: rgb(235, 235, 235);
    border-color: rgb(190, 190, 190);
}
