button {
    display: inline-block;
    padding: 0.5rem 1.2rem;
    background-color: rgb(245, 245, 245);
    color: rgb(50, 50, 50);
    font-weight: 600;
    border-radius: 0.4rem;
    border: 1px solid rgb(210, 210, 210);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.08);
    cursor: pointer;
    font-size: 0.95rem;
}

button:hover {
    background-color: rgb(225, 225, 225);
    border-color: rgb(190, 190, 190);
}
