.inputCard {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: white;
    padding: 1.5rem;
    border: 1px solid rgb(205, 205, 205);
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: clamp(280px, 90vw, 400px);
    min-height: clamp(330px, 40vh, 380px);
    height: auto;
    box-sizing: border-box;
}

.form{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}


.formTitle {
    margin: 1rem;
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
    color: rgb(50, 50, 50);
}

.label {
    font-weight: 500;
    color: rgb(50, 50, 50);
}

.input {
    padding: 0.5rem 0.75rem;
    border: 1px solid rgb(50, 50, 50);
    border-radius: 4px;
    font-size: 1rem;
    outline: none;
}

.button {   
    height: 2.5rem;
    border: none;
    border-radius: 4px;
    background-color: rgb(50, 50, 50);
    color: white;
    font-weight: 500;
}

.button:hover
{
    background-color: rgb(70, 70, 70);
}