.card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: white;
    border: 1px solid rgb(205, 205, 205);
    border-radius: 8px;
    padding: 2.5rem;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
    width: 80%;
    max-width: 400px;
    min-width: 250px; 
    height: auto;
    min-height: 400px; 
    max-height: 90vh; 
}

.form{
    display: flex;
    flex-direction: column;
    gap: 10rem;
}

.formSection {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.title {
    margin: 1rem;
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 1.5rem;
    text-align: center;
    color: rgb(50, 50, 50);
}

.label {
    font-weight: 500;
    color: rgb(50, 50, 50);
}

.input {
    padding: 0.5rem 0.75rem;
    border: 1px solid rgb(50, 50, 50);
    border-radius: 4px;
    font-size: 1rem;
    outline: none;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2.5rem;
    border: none;
    border-radius: 4px;
    background-color: rgb(50, 50, 50);
    color: white;
    font-weight: 500;
    cursor: pointer;
}

    .button:disabled {
        background-color: rgb(70, 70, 70);
        cursor: not-allowed;
    }

    .button:hover:not(:disabled) {
        background-color: rgb(70, 70, 70);
    }


.error {
    color: red;
    font-size: 0.875rem;
    text-align: center;
    min-height: 1rem;
    margin: 1rem 0;
}


.spinner {
    width: 16px;
    height: 16px;
    border: 2px solid rgba(255, 255, 255, 0.3);
    border-top-color: white;
    border-radius: 50%;
    animation: spin 0.8s linear infinite;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}
