.insufficientDataText {
    padding: 3rem;
    text-align: center;
    font-size: 1.5rem;
    font-weight:bold;
}

.testCaseEventListenerContainer {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.06);
}