.testCaseContainer {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.06);
    margin-top: 16px;
}

.testCaseHeader {
    margin:1rem 0;
}

.testCaseTitleContainer h2 {
    font-size: 1.1rem;
    font-weight: 600;
    margin: 0;
    color: rgb(50, 50, 50);
}

table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    margin: 1rem 0;
}

thead th {
    text-align: left;
    font-weight: 600;
    font-size: .95rem;
    padding: 0.5rem;
    color: rgb(50, 50, 50);
    border: 1px solid rgb(50, 50, 50);
}

tbody td {
    padding:0.5rem;
    font-size: 0.85rem;
    color: rgb(50, 50, 50);
    border: 1px solid rgb(50, 50, 50);
    word-wrap: break-word;
    white-space: pre-wrap;
}




.skeletonRow td {
    padding: 0.5rem;
}

.skeletonCellContent {
    height: 2rem;
    animation: pulse 1.2s infinite ease-in-out; 
    background-color: #ddd;
    border:none;
    border-radius: 6px;
}





.titleSkeleton, .downloadSkeleton {
    border-radius: .4rem;
    background-color: #ccc;
    width: 8rem;
    height: 1.75rem;
    animation: pulse 1.2s infinite ease-in-out;
}

.downloadButtonWrapper {
    display: flex;
    justify-content: flex-end;
    margin-top: 1.5rem;
}


@keyframes pulse {
    0%, 100% {
        opacity: 1;
    }

    50% {
        opacity: 0.4;
    }
}



