.errorPage {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.errorTitle {
    font-size: 2rem;
    font-weight: bold;
    color: #e74c3c;
}

.errorDetail {
    font-size: 1.1rem;
    color: #555;
}

